<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/taxiWeb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="cr/ac/una/prograiv/taxi/domain/Viaje.hbm.xml"/>
    <mapping resource="cr/ac/una/prograiv/taxi/domain/Conductor.hbm.xml"/>
    <mapping resource="cr/ac/una/prograiv/taxi/domain/Usuario.hbm.xml"/>
    <mapping resource="cr/ac/una/prograiv/taxi/domain/Vehiculo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
